@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/eot/vollkorn-regular-webfont.eot');
    src: local('Vollkorn Regular'),
         url('../fonts/vollkorn/eot/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn/woff/vollkorn-regular-webfont.woff') format('woff'),
         url('../fonts/vollkorn/ttf/Vollkorn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/eot/vollkorn-bold-webfont.eot');
    src: local('Vollkorn Bold'),
         url('../fonts/vollkorn/eot/vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn/woff/vollkorn-bold-webfont.woff') format('woff'),
         url('../fonts/vollkorn/ttf/Vollkorn-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
	font-family: 'Vollkorn';
    padding: 1%;
}

table > tbody > tr > td:not(:first-child) {
    text-align: center;
}

table > thead > tr > th:not(:first-child) {
    text-align: center;
}

.glyphicon-thumbs-up{
	color:green;
	font-weight: bold;
}
.glyphicon-thumbs-down{
	color:red;
}